{% extends "moduleregistrationsystem/base.html" %}
{% block content %}
    <h1>Module Registration System - Contact Us</h1>
    <body>
        <p1>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat ornare augue commodo iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque quis accumsan tortor. Vivamus sodales mollis neque, nec mattis sapien viverra quis. Aenean ut neque in turpis mollis facilisis. Vivamus at mauris facilisis mauris suscipit commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu maximus ex. Vestibulum efficitur eleifend mattis. Proin nec scelerisque justo, vitae tempor tortor. Aliquam scelerisque, leo eu congue fringilla, augue nisi tincidunt purus, sit amet condimentum magna velit sed neque. Integer quis tellus a mi luctus convallis.

Nunc dapibus venenatis urna, a blandit felis porttitor nec. Nam consectetur sagittis suscipit. Fusce in consequat ipsum, sit amet luctus justo. Vivamus pulvinar odio eu posuere rutrum. Curabitur sollicitudin malesuada orci ut scelerisque. Nulla scelerisque mi et felis iaculis molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur magna odio, congue quis purus quis, cursus aliquam diam. Cras molestie nunc ultrices, luctus tortor non, accumsan massa. Cras sodales elit quis turpis volutpat, eget rhoncus libero tempus. 
        </p1>
    </body>
{% endblock content %}