{% extends "moduleregistrationsystem/base.html" %}
{% block content %}
    <h1>Welcome to the Module Registration System!</h1>
    <h2>Please choose one of the options above.</h2>
    <h3>If you are wanting to enter your module choices, please do this on your profile.</h3>
    <body>
        <p1>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis quam sit amet euismod vulputate. Phasellus pulvinar sem risus, ut consequat lorem sollicitudin quis. Duis maximus risus id egestas semper. Vivamus vitae venenatis lorem. Duis aliquam, risus sed fermentum viverra, odio orci gravida est, nec facilisis mauris leo ac dolor. In vestibulum ac purus a dictum. Quisque egestas ante magna, ac auctor mi pulvinar vel. Quisque at aliquam metus. In pretium varius interdum. Etiam ut neque in odio volutpat porttitor ut non risus.

Integer congue tincidunt ipsum, id vestibulum nisi lobortis ac. Nulla eget aliquet augue, vulputate egestas purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum fringilla est arcu, eu venenatis elit finibus dictum. Ut iaculis imperdiet venenatis. Etiam lacinia varius lobortis. Sed non finibus dolor. Nunc non diam lorem. Vivamus fermentum, risus sit amet tincidunt feugiat, mauris lacus tempus dolor, nec sagittis odio ligula ut erat. Nunc venenatis enim at tortor gravida imperdiet. Vivamus faucibus sem justo, id hendrerit felis luctus ut. In at egestas tortor. Nulla eu feugiat turpis. Maecenas sit amet augue sed tortor tempor egestas vel non ipsum. 
        </p1>
    </body>
{% endblock content %}