{% extends 'moduleregistrationsystem/base.html' %}

{% block content %}
  <h1>{{ title }}</h1>
  <h2>Please go to your profile to make your module choices - All you need is the module ID</h2>
  <h3>Please see below for the avaliable modules:</h3>

  {% if modules %}
    <table class="styled-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Code</th>
          <th>Credit</th>
          <th>Category</th>
          <th>Description</th>
          <th>Availability</th>
          <th>Courses Allowed</th>
        </tr>
      </thead>
      <tbody>
        {% for module in modules %}
          <tr>
            <td>Module Object ({{ module.id }})</td>
            <td>{{ module.name }}</td>
            <td>{{ module.code }}</td>
            <td>{{ module.credit }}</td>
            <td>{{ module.category }}</td>
            <td>{{ module.description }}</td>
            <td>{{ module.availability }}</td>
            <td>{{ module.courses_allowed }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No modules available.</p>
  {% endif %}

  


{% endblock %}
